NodeRED/flows.json
[
    {
        "id": "e21f2e8223f1a385",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f990588fcb779318",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94aac54bafaecffc",
        "type": "ui_group",
        "name": "Standard",
        "tab": "2c6fa3325ec92391",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2c6fa3325ec92391",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ce26345872e7de9b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b6ef1ad8f4def70c",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c982fbb8.1deb38",
        "type": "ui_group",
        "name": "hidden_group",
        "tab": "7c447e96.4b96a",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "78204f72eae2956c",
        "type": "ui_group",
        "name": "Statistik",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f226b42d88f0c822",
        "type": "ui_group",
        "name": "Stromverbrauch",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9313d046.1fe07",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7c447e96.4b96a",
        "type": "ui_tab",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "406f759f.120a4c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "61759a0f.c98124",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b8899aa07a5c3732",
        "type": "ui_tab",
        "name": "Telemetry",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c652f7f4d38b17fc",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "b8899aa07a5c3732",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc7353f9acbe36c1",
        "type": "ui_group",
        "name": "Values",
        "tab": "b8899aa07a5c3732",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8cee2031f836d306",
        "type": "ui_group",
        "name": "Status",
        "tab": "b8899aa07a5c3732",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "250c136d54a9a16c",
        "type": "ui_tab",
        "name": "Ground Systems",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ffef6a74d8dc8d5",
        "type": "ui_group",
        "name": "RCU",
        "tab": "250c136d54a9a16c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fae9a90c9acd2c87",
        "type": "ui_spacer",
        "z": "f990588fcb779318",
        "name": "spacer",
        "group": "6ffef6a74d8dc8d5",
        "order": 3,
        "width": "1",
        "height": "1"
    },
    {
        "id": "21be2c0d3e9b2e8d",
        "type": "ui_group",
        "name": "Valve Wall Controls",
        "tab": "250c136d54a9a16c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db07c2bcb2697ae7",
        "type": "ui_group",
        "name": "Logging",
        "tab": "250c136d54a9a16c",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3658389d2985d57",
        "type": "ui_group",
        "name": "Status",
        "tab": "250c136d54a9a16c",
        "order": 1,
        "disp": true,
        "width": "2",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8924e22f.e375e",
        "type": "ui_group",
        "name": "Teste",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "6"
    },
    {
        "id": "78ef6f082d95e615",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "2c6fa3325ec92391",
        "order": 2,
        "disp": true,
        "width": 6
    },
    {
        "id": "4a189d71395a4dee",
        "type": "ui_group",
        "name": "Controls",
        "tab": "b8899aa07a5c3732",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "796d07db1f118ed3",
        "type": "ui_group",
        "name": "Status",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0047608828ae71d5",
        "type": "ui_gauge",
        "z": "e21f2e8223f1a385",
        "d": true,
        "name": "",
        "group": "c652f7f4d38b17fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxidizer Pressure",
        "label": "psi",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 730,
        "y": 400,
        "wires": []
    },
    {
        "id": "e57f6e2820480aec",
        "type": "ui_chart",
        "z": "e21f2e8223f1a385",
        "d": true,
        "name": "",
        "group": "c652f7f4d38b17fc",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "fd54df3b0bda45bb",
        "type": "comment",
        "z": "e21f2e8223f1a385",
        "name": "Status",
        "info": "",
        "x": 90,
        "y": 60,
        "wires": []
    },
    {
        "id": "71f6185502cfc413",
        "type": "ui_text",
        "z": "e21f2e8223f1a385",
        "group": "8cee2031f836d306",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heartbeat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "<color=blue>",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "b52d30730cd25588",
        "type": "ui_text",
        "z": "e21f2e8223f1a385",
        "group": "8cee2031f836d306",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 830,
        "y": 340,
        "wires": []
    },
    {
        "id": "58cb297ad6ec78e9",
        "type": "ui_text",
        "z": "e21f2e8223f1a385",
        "group": "8cee2031f836d306",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Injection Valve Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 740,
        "y": 260,
        "wires": []
    },
    {
        "id": "26c23b0cd19a9ac1",
        "type": "ui_text",
        "z": "e21f2e8223f1a385",
        "group": "8cee2031f836d306",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lower Vent Valve Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "b5768ac7592b7678",
        "type": "ui_switch",
        "z": "e21f2e8223f1a385",
        "name": "",
        "label": "Open Lower Vent Valve",
        "tooltip": "",
        "group": "4a189d71395a4dee",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "f626b9ddd1a480f8",
        "type": "ui_button",
        "z": "e21f2e8223f1a385",
        "name": "",
        "group": "4a189d71395a4dee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ABORT",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 300,
        "wires": [
            [
                "efc9be776a7be339",
                "160225ed1df8935b"
            ]
        ]
    },
    {
        "id": "efc9be776a7be339",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Open Lower Vent Valve",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"Open\"\n    \n}\nelse {\n    msg.payload = \"Closed\"\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 300,
        "wires": [
            [
                "26c23b0cd19a9ac1",
                "58cb297ad6ec78e9"
            ]
        ]
    },
    {
        "id": "34dc282e2413b047",
        "type": "inject",
        "z": "e21f2e8223f1a385",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Closed",
        "payloadType": "str",
        "x": 520,
        "y": 260,
        "wires": [
            [
                "26c23b0cd19a9ac1",
                "58cb297ad6ec78e9"
            ]
        ]
    },
    {
        "id": "370d21a3e8b1af10",
        "type": "ui_gauge",
        "z": "e21f2e8223f1a385",
        "name": "",
        "group": "c652f7f4d38b17fc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Seconds since Launch",
        "label": "seconds",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#fb06fb"
        ],
        "seg1": "0.1",
        "seg2": "8.5",
        "className": "",
        "x": 740,
        "y": 580,
        "wires": []
    },
    {
        "id": "fa388806b732d581",
        "type": "ui_gauge",
        "z": "e21f2e8223f1a385",
        "name": "",
        "group": "c652f7f4d38b17fc",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Avionics Bay Temperature",
        "label": "° C",
        "format": "{{value}}",
        "min": "10",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "b66c63fa6d41651f",
        "type": "inject",
        "z": "e21f2e8223f1a385",
        "name": "Prelaunch",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Prelaunch",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "32e746a82a32ec78",
        "type": "inject",
        "z": "e21f2e8223f1a385",
        "name": "Alive",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Alive",
        "payloadType": "str",
        "x": 470,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "2367639209159dfd",
        "type": "ui_button",
        "z": "e21f2e8223f1a385",
        "name": "",
        "group": "4a189d71395a4dee",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ARM",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "59cf8251e4fcb2d9"
            ]
        ]
    },
    {
        "id": "59cf8251e4fcb2d9",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "ARM",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"Armed\"\n    \n}\nelse {\n    msg.payload = \"Error\"\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 400,
        "wires": [
            [
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "2208ace97df8829c",
        "type": "ui_button",
        "z": "e21f2e8223f1a385",
        "name": "",
        "group": "4a189d71395a4dee",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Launch",
        "tooltip": "",
        "color": "black",
        "bgcolor": "yellow",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "e7b84444c368b9c5"
            ]
        ]
    },
    {
        "id": "e7b84444c368b9c5",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Launch",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"Burn\"\n    const date=new Date()\n    global.set(\"t_launch\",date)\n    global.set(\"launched\",1)\n}\nelse {\n    msg.payload = \"Error\"\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 440,
        "wires": [
            [
                "e0eab28abd371068",
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "160225ed1df8935b",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Abort",
        "func": "if (msg.payload == 1) {\n    msg.payload = \"Aborted\"\n    global.set(\"launched\",0)\n    \n}\nelse {\n    msg.payload = \"Error\"\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "364ad5476394f0de",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Coast",
        "func": "msg.payload = \"Coast\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 480,
        "wires": [
            [
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "e0eab28abd371068",
        "type": "delay",
        "z": "e21f2e8223f1a385",
        "name": "Flight_Delay",
        "pauseType": "delay",
        "timeout": "8500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "364ad5476394f0de",
                "1560ceaa335a60da"
            ]
        ]
    },
    {
        "id": "1560ceaa335a60da",
        "type": "delay",
        "z": "e21f2e8223f1a385",
        "name": "Post_Flight_Delay",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 270,
        "y": 520,
        "wires": [
            [
                "9d6d0e8f6cadbd6a"
            ]
        ]
    },
    {
        "id": "9d6d0e8f6cadbd6a",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Post Flight",
        "func": "msg.payload = \"Post Flight\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 520,
        "wires": [
            [
                "5d4772ed251e1cd3"
            ]
        ]
    },
    {
        "id": "7ce8f5ed84e38a81",
        "type": "inject",
        "z": "e21f2e8223f1a385",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "bb93b8e273e8c8e6"
            ]
        ]
    },
    {
        "id": "bb93b8e273e8c8e6",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Stopwatch",
        "func": "const no=new Date()\nconst start=global.get(\"t_launch\")\nmsg.payload=(no.getTime()-start.getTime())/1000\nif (global.get(\"launched\")==1){\n    msg.payload=Math.round(msg.payload)\n}\nelse{\n   msg.payload=0 \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 580,
        "wires": [
            [
                "370d21a3e8b1af10",
                "edfa35f728c16afe"
            ]
        ]
    },
    {
        "id": "edfa35f728c16afe",
        "type": "ui_text",
        "z": "e21f2e8223f1a385",
        "group": "8cee2031f836d306",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Seconds since launch",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "5d4772ed251e1cd3",
        "type": "function",
        "z": "e21f2e8223f1a385",
        "name": "Status",
        "func": "const status=msg.payload\nglobal.set(\"status\",status)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 340,
        "wires": [
            [
                "b52d30730cd25588"
            ]
        ]
    },
    {
        "id": "112c28bbc26a1ddb",
        "type": "ui_text",
        "z": "f990588fcb779318",
        "group": "6ffef6a74d8dc8d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temp AC 1",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "6fdb96146bd21141",
        "type": "ui_chart",
        "z": "f990588fcb779318",
        "name": "",
        "group": "6ffef6a74d8dc8d5",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temp AC 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4844ad76a4d5d1a4",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "PBV1",
        "tooltip": "",
        "group": "21be2c0d3e9b2e8d",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "89e4632e7e4af441",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "PBV 2",
        "tooltip": "",
        "group": "21be2c0d3e9b2e8d",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "ebcdaf914a41fdf7",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "PBV 3",
        "tooltip": "",
        "group": "21be2c0d3e9b2e8d",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3258dc08478b8a71",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "SOL 1",
        "tooltip": "",
        "group": "21be2c0d3e9b2e8d",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "e53bf08c58490835",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "SOL 2",
        "tooltip": "",
        "group": "21be2c0d3e9b2e8d",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "04b40a54c4c9c9ad",
        "type": "ui_chart",
        "z": "f990588fcb779318",
        "name": "",
        "group": "db07c2bcb2697ae7",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Pressure",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "12",
        "ymax": "25",
        "removeOlder": "2",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "834e4cefb43b02fa",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "d3658389d2985d57",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f7ad813bccc7ba04",
        "type": "function",
        "z": "f990588fcb779318",
        "name": "Status",
        "func": "const status=global.get(\"status\")\n\nswitch (status) {\n    case \"Armed\":\n        msg.color=\"green\"\n        msg.payload=\"Armed\"\n        break\n    case \"Prelaunch\":\n        msg.color=\"green\"\n        msg.payload=\"Prelaunch\"\n        break\n    case \"Burn\":\n        msg.color=\"yellow\"\n        msg.payload=\"Burn\"\n        break\n    case \"Coast\":\n        msg.color=\"violet\"\n        msg.payload=\"Coasting\"\n        break\n    case \"Aborted\":\n        msg.color=\"red\"\n        msg.payload=\"Aborted\"\n        break  \n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 120,
        "wires": [
            [
                "834e4cefb43b02fa",
                "3e483fc2d9922e50",
                "e8a72222630de6a4"
            ]
        ]
    },
    {
        "id": "ea0e810db424b3fd",
        "type": "inject",
        "z": "f990588fcb779318",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Prelaunch",
        "payloadType": "str",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "f7ad813bccc7ba04"
            ]
        ]
    },
    {
        "id": "3e483fc2d9922e50",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "8cee2031f836d306",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f324dd8ba8839b3d",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "d3658389d2985d57",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5158764becc335a7",
        "type": "function",
        "z": "f990588fcb779318",
        "name": "Heartbeat",
        "func": "const heartbeat=global.get(\"Continuity\")\nconst dt=global.get(\"heartbeatTimeout\")\nif (heartbeat-global.get(\"Continuity-1\")!=0) {\n    if (dt!=0){\n        global.set(\"heartbeatTimeout\",0)\n    }\n    global.set(\"Continuity-1\",heartbeat)\n    msg.payload=\"Alive\"\n    msg.color=\"green\"\n}\nelse{\n    if (dt<5){\n        global.set(\"heartbeatTimeout\",dt+1)\n        msg.payload=\"Issue\"\n        msg.color=\"yellow\"\n    }\n    else{\n        msg.payload=\"Connection Lost\"\n        msg.color=\"red\"\n    }\n    \n    //node.warn(\"Heartbeat is dead\");\n\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"heartbeatTimeout\",0)\nglobal.set(\"Continuity-1\",0)",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 240,
        "wires": [
            [
                "f324dd8ba8839b3d",
                "c0bcbfa1a1ec28c7",
                "21a14e0f82238823"
            ]
        ]
    },
    {
        "id": "4ef664bec99d3099",
        "type": "inject",
        "z": "f990588fcb779318",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Prelaunch",
        "payloadType": "str",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "5158764becc335a7"
            ]
        ]
    },
    {
        "id": "c0bcbfa1a1ec28c7",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "8cee2031f836d306",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e79f0f02056e0a22",
        "type": "csv",
        "z": "f990588fcb779318",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 310,
        "y": 480,
        "wires": [
            [
                "ae9cb509b69ef705"
            ]
        ]
    },
    {
        "id": "ccb479aa41c2aee3",
        "type": "file in",
        "z": "f990588fcb779318",
        "name": "",
        "filename": "/home/pi/log.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 220,
        "y": 560,
        "wires": [
            [
                "e79f0f02056e0a22"
            ]
        ]
    },
    {
        "id": "d61d8cebf884697a",
        "type": "inject",
        "z": "f990588fcb779318",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 480,
        "wires": [
            [
                "ccb479aa41c2aee3"
            ]
        ]
    },
    {
        "id": "ae9cb509b69ef705",
        "type": "function",
        "z": "f990588fcb779318",
        "name": "Save Data",
        "func": "const array=msg.payload\nconst data=array[array.length-1]\n// Save all Data to global variables\nglobal.set(\"time\",data.time)\nglobal.set(\"nos1Temp\",data.nos1Temp)\nglobal.set(\"nos2Temp\",data.nos2Temp)\nglobal.set(\"nos1LoadCell\",data.nos1LoadCell)\nglobal.set(\"nos2LoadCell\",data.nos2LoadCell)\nglobal.set(\"ac1\", data.ac1)\nglobal.set(\"ac2\", data.ac2)\nglobal.set(\"p1\",data.p1)\nglobal.set(\"p2\",data.p2)\nglobal.set(\"p3\",data.p3)\nglobal.set(\"p4\",data.p4)\nglobal.set(\"AirTemp\",data.AirTemp)\nglobal.set(\"LoadCell\",data.LoadCell)\nglobal.set(\"Continuity\",data.Continuity)\n\n\n\n//msg.payload = array[4].p1\nreturn [{ payload: data.time }, { payload: data.nos1Temp, topic: \"NOS1\" }, \n    { payload: data.nos2Temp, topic: \"NOS2\"},\n    { payload: data.nos1LoadCell }, { payload: data.nos2LoadCell},\n    { payload: data.ac1, topic: \"AC1\" }, { payload: data.ac2, topic: \"AC2\" },\n    { payload: data.p1, topic: \"Pressure 1\" }, { payload: data.p2, topic: \"Pressure 2\" },\n    { payload: data.p3, topic: \"Pressure 3\" }, { payload: data.p4, topic: \"Pressure 4\" },\n    { payload: data.AirTemp }, { payload: data.LoadCell},\n    { payload: data.Continuity}];",
        "outputs": 14,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 480,
        "wires": [
            [],
            [
                "137dfa780bd532db"
            ],
            [
                "137dfa780bd532db"
            ],
            [],
            [],
            [
                "112c28bbc26a1ddb",
                "137dfa780bd532db"
            ],
            [
                "6fdb96146bd21141",
                "137dfa780bd532db"
            ],
            [
                "04b40a54c4c9c9ad"
            ],
            [
                "04b40a54c4c9c9ad"
            ],
            [
                "04b40a54c4c9c9ad"
            ],
            [
                "04b40a54c4c9c9ad"
            ],
            [
                "8731741256e442db"
            ],
            [
                "18d34a34a4da1086"
            ],
            []
        ]
    },
    {
        "id": "8731741256e442db",
        "type": "ui_chart",
        "z": "f990588fcb779318",
        "name": "",
        "group": "dc7353f9acbe36c1",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Air Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "45",
        "removeOlder": "2",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 820,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "18d34a34a4da1086",
        "type": "ui_chart",
        "z": "f990588fcb779318",
        "name": "",
        "group": "dc7353f9acbe36c1",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Rocket-LoadCell",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "70",
        "removeOlder": "2",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "9250f5728b4810d3",
        "type": "ui_switch",
        "z": "f990588fcb779318",
        "name": "",
        "label": "SOL 3 Insulation",
        "tooltip": "",
        "group": "4a189d71395a4dee",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 820,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "e8a72222630de6a4",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "796d07db1f118ed3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "21a14e0f82238823",
        "type": "ui_button",
        "z": "f990588fcb779318",
        "name": "",
        "group": "796d07db1f118ed3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": " {{msg.payload}} ",
        "tooltip": "",
        "color": "black",
        "bgcolor": "{{msg.color}}",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 450,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "137dfa780bd532db",
        "type": "ui_chart",
        "z": "f990588fcb779318",
        "name": "",
        "group": "db07c2bcb2697ae7",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "Ground Systems Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "60",
        "removeOlder": "2",
        "removeOlderPoints": "100",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "c2908d0ad04569a2",
        "type": "ui_template",
        "z": "f990588fcb779318",
        "group": "c982fbb8.1deb38",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 100,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "385dd3bed1990a0d",
        "type": "ui_text",
        "z": "f990588fcb779318",
        "group": "d3658389d2985d57",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Phase",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "3225a3b8b74a5cb9",
        "type": "ui_text",
        "z": "f990588fcb779318",
        "group": "d3658389d2985d57",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heartbeat",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "<color=blue>",
        "x": 280,
        "y": 200,
        "wires": []
    }
]
